<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetUniversityList</servlet-name>
        <servlet-class>com.servlets.GetUniversityList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlDataServlet</servlet-name>
        <servlet-class>com.servlets.CrawlDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransformPDF</servlet-name>
        <servlet-class>com.servlets.TransformPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUniversityList</servlet-name>
        <url-pattern>/GetUniversityList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlDataServlet</servlet-name>
        <url-pattern>/CrawlDataServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>search.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>TransformPDF</servlet-name>
        <url-pattern>/TransformPDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <listener>
        <listener-class>com.listeners.CrawlDataListener</listener-class>
    </listener>-->
</web-app>
